$primary-color: #1f959e;

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.icons {
  padding-top: 0.2rem;
}

.section_cover {
  margin-bottom: 3rem;
  //   height: 50vh;
  //   display: none;
  &_bgImg {
    height: 40vh;
    img {
      height: 100%;
      object-fit: cover;
    }
  }
  &_text {
    background-color: $primary-color;
    text-align: center;
    position: relative;
    height: 10%;

    h1 {
      font-size: 6.4rem;
      line-height: 1;
      padding: 3rem 2rem;
      color: white;
    }

    .container {
      padding: 0 6rem;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 30px;
      background-color: #b9eb7d;
      z-index: 1;
    }

    &::after {
      content: "";
      position: absolute;
      top: -11%;
      left: 50%;
      // right: 0;
      height: 40px;
      width: 40px;
      background-color: #1b1a1a;
      transform: rotateZ(45deg);
      z-index: 1;
    }
  }
}

.modal-placeholder {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-backdrop {
    position: absolute;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.61);
    width: 100%;
    z-index: 501;
  }

  .modal-content {
    z-index: 502;
    background-color: white;
    border-radius: 0.3rem;
    padding: 1rem;
    box-shadow: 0 10px 10px -5px;
  }
}

@keyframes error {
  0% {
    color: red;
    transform: scale(0.83);
  }
  100% {
    color: red;
    transform: scale(1.02);
  }
}
